# Common Files
#**/*.txt
**/135-0.txt

# Misc
*.jpg
*.xls
*.xlsx

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
**/docs/
dub.selections.json

# Java
*.class
*.jar

# Code coverage
*.lst

# Intellij
.idea
*.iml
*.MF
**/lib/
**/out/

# Modula
*.bak
*.err
*.sbd
*.sbp
*.sym

# Visual Studio
.vs/
App.config
Application.Designer.vb
Application.myapp
AssemblyInfo.cs
AssemblyInfo.fs
AssemblyInfo.vb
packages.config
Resources.Designer.vb
Resources.resx
Settings.Designer.vb
Settings.settings
**/bin/
**/obj/
**/Debug/
**/packages/
*.csproj
*.exe.config
*.pdb
*.sln
*.fsproj
*.vbproj
*.vbproj.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
