# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
dub.selections.json

# Java
*.class
*.jar

# Code coverage
*.lst

# Intellij
.idea
*.iml
lib/
out/

# Modula
*.bak
*.err
*.sbd
*.sbp
*.sym

# Visual Studio
obj/
.vs/
App.config
AssemblyInfo.cs
*.csproj
*.exe.config
*.pdb
*.sln
Bilinear_interpolation/CS/BilinearInterpolation/bin/Debug/Lenna100.jpg
Bilinear_interpolation/CS/BilinearInterpolation/bin/Debug/Lenna100_larger.jpg
