<configuration>
    <contextName>rosetta</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>

            <includeMdc>false</includeMdc>
            <includeContext>false</includeContext>
            <includeCallerData>false</includeCallerData>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <timeZone>UTC</timeZone>

            <includeMdc>true</includeMdc>
            <includeCallerData>false</includeCallerData>
            <includeContext>false</includeContext>
        </encoder>

        <file>out/log.json</file>
        <append>false</append>
    </appender>

    <logger name="com.github.ncoe.rosetta.util.LanguageUtil" level="INFO"/>
    <logger name="com.github.ncoe.rosetta.util.LocalUtil" level="INFO"/>
    <logger name="com.github.ncoe.rosetta.util.RemoteUtil" level="INFO"/>
    <logger name="com.github.ncoe.rosetta.io.HtmlWriter" level="INFO"/>
    <logger name="com.github.ncoe.rosetta.io.SpreadsheetWriter" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </root>
</configuration>
